<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('service_management.dashboard') }}">IDMUI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-id-card"></i> Identity Service
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('service_management.dashboard') }}">Service Status</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('endpoint.list_endpoints') }}">Endpoints</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('project.list_projects') }}">Projects</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('domain.list_domains') }}">Domains</a></li>
                        <li><a class="dropdown-item" href="{{ url_for('group.list_groups') }}">Groups</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <i class="fas fa-database"></i> Database
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ url_for('database.backup_database') }}">Backup</a></li>
                        <li><a class="dropdown-item" href="#restore" data-bs-toggle="modal" data-bs-target="#restoreModal">Restore</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex">
                {% if current_user.is_authenticated %}
                <span class="navbar-text me-3">
                    <i class="fas fa-user"></i> {{ current_user.username }}
                </span>
                <a href="{{ url_for('auth.logout') }}" class="btn btn-outline-light">
                    <i class="fas fa-sign-out-alt"></i> Logout
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
